@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/**

 * skin for wibone
 * Author: webinspire
 * Author URI: http://dev.webinsipre.it/wibone
 * Version: 1.9.3
 * Last update: 15.05.2015

---------------------------------------

01 LAYOUT        02 BUTTONS        03 COMPONENTS      04 FORMS        05 NAVIGATION

06 DROPDOWN      07 TABLES         08 CAROUSEL        09 SCROLLBAR    10 COLORSET
	
*/
/**

 * mixin for wibone
 * Author: webinspire
 * Author URI: http://dev.webinsipre.it/wibone
 * Version: 1.9.3
 * Last update: 23.06.2015
 
*/
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 01 LAYOUT ------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #1e304c;
}
body a {
  color: #1e304c;
}
body a:hover {
  color: #101927;
}
body a.link {
  color: #1e304c;
  background-color: transparent;
}
body a.link:hover {
  color: #101927;
  background-color: transparent;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: 'Roboto', sans-serif;
}
body a.wi-go-top {
  background-color: #101927;
  color: #ffffff;
}
body a.wi-go-top:hover {
  background-color: #010203;
  color: #ffffff;
}
body .no-brd {
  border-color: transparent;
}
body .divider,
body hr {
  border-top-color: #c1c1c1;
  border-bottom-color: #ffffff;
}
body .modal.fade {
  background-color: rgba(0, 0, 0, 0.5);
}
#wi-header {
  background-color: #1e304c;
  color: rgba(255, 255, 255, 0.75);
}
#wi-header .open-toggle,
#wi-header .open-toggle-right {
  color: #ffffff;
  background-color: #121e2f;
}
#wi-container {
  background-color: #f4f4f4;
}
.wi-breadcrumbs {
  color: #ffffff;
  background-color: #1e304c;
  border-color: #142032;
}
.wi-breadcrumbs a {
  color: #dde5f2;
}
.wi-breadcrumbs a:hover {
  color: #ffffff;
}
#wi-footer {
  background-color: #1e304c;
  color: rgba(255, 255, 255, 0.75);
}
#wi-footer a {
  color: #ffffff;
}
#wi-footer hr {
  border-top-color: #080d15;
  border-bottom-color: #345383;
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 02 BUTTONS -----------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
.wi-btn {
  background-color: #f5f5f5;
  color: #1c1c1c;
  border-color: #dbdbdb;
  border-radius: 3px;
}
.wi-btn:hover,
.wi-btn.active {
  background-color: #fafafa;
  border-color: #cfcfcf;
  color: #1c1c1c;
  box-shadow: 0 0 5px #dbdbdb;
}
.wi-btn.btn-white {
  background-color: #ffffff;
  color: #262626;
  border-color: #e6e6e6;
  border-radius: 3px;
}
.wi-btn.btn-white:hover,
.wi-btn.btn-white.active {
  background-color: #ffffff;
  border-color: #d9d9d9;
  color: #262626;
  box-shadow: 0 0 5px #e6e6e6;
}
.wi-btn.btn-dark {
  background-color: #333333;
  color: #ffffff;
  border-color: #2b2b2b;
  border-radius: 3px;
}
.wi-btn.btn-dark:hover,
.wi-btn.btn-dark.active {
  background-color: #2b2b2b;
  color: #ffffff;
  box-shadow: none;
}
.wi-btn.btn-primary {
  background-color: #1e304c;
  color: #ffffff;
  border-color: #1a2941;
  border-radius: 3px;
}
.wi-btn.btn-primary:hover,
.wi-btn.btn-primary.active {
  background-color: #1a2941;
  color: #ffffff;
  box-shadow: none;
}
.wi-btn.btn-info {
  background-color: #21acd7;
  color: #ffffff;
  border-color: #1fa1ca;
  border-radius: 3px;
}
.wi-btn.btn-info:hover,
.wi-btn.btn-info.active {
  background-color: #1fa1ca;
  color: #ffffff;
  box-shadow: none;
}
.wi-btn.btn-success {
  background-color: #76b400;
  color: #ffffff;
  border-color: #6ca500;
  border-radius: 3px;
}
.wi-btn.btn-success:hover,
.wi-btn.btn-success.active {
  background-color: #6ca500;
  color: #ffffff;
  box-shadow: none;
}
.wi-btn.btn-warning {
  background-color: #f5b200;
  color: #ffffff;
  border-color: #e6a700;
  border-radius: 3px;
}
.wi-btn.btn-warning:hover,
.wi-btn.btn-warning.active {
  background-color: #e6a700;
  color: #ffffff;
  box-shadow: none;
}
.wi-btn.btn-error {
  background-color: #b62600;
  color: #ffffff;
  border-color: #a72300;
  border-radius: 3px;
}
.wi-btn.btn-error:hover,
.wi-btn.btn-error.active {
  background-color: #a72300;
  color: #ffffff;
  box-shadow: none;
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 03 COMPONENTS --------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
/* _________accordion__________ */
.wi-collapse-group .wi-collapse-item {
  border-color: #dbdbdb;
}
.wi-collapse-group .wi-collapse-item .wi-collapse-heading a {
  color: #292929;
  background-color: #f5f5f5;
}
.wi-collapse-group .wi-collapse-item .wi-collapse-heading a:hover {
  color: #0f0f0f;
  background-color: #f0f0f0;
}
.wi-collapse-group .wi-collapse-item .wi-collapse-heading a i {
  color: #0f0f0f;
}
.wi-collapse-group.collapse-primary .wi-collapse-item {
  border-color: #101927;
}
.wi-collapse-group.collapse-primary .wi-collapse-item .wi-collapse-heading a {
  color: #ffffff;
  background-color: #1e304c;
}
.wi-collapse-group.collapse-primary .wi-collapse-item .wi-collapse-heading a:hover {
  color: #ffffff;
  background-color: #1b2b45;
}
.wi-collapse-group.collapse-primary .wi-collapse-item .wi-collapse-heading a i {
  color: #ffffff;
}
/* _________alert______________ */
.wi-alert-message {
  background-color: #f5f5f5;
  color: #292929;
  border-color: #d6d6d6;
  border-radius: 3px;
}
.wi-alert-message a {
  color: #c2c2c2;
}
.wi-alert-message a:hover {
  color: #757575;
}
.wi-alert-message.alert-white {
  background-color: #ffffff;
  color: #333333;
  border-color: #e0e0e0;
  border-radius: 3px;
}
.wi-alert-message.alert-white a {
  color: #cccccc;
}
.wi-alert-message.alert-white a:hover {
  color: #808080;
}
.wi-alert-message.alert-info {
  background-color: rgba(33, 172, 215, 0.1);
  color: #1c90b4;
  border-color: rgba(33, 172, 215, 0.3);
  border-radius: 3px;
}
.wi-alert-message.alert-info a {
  color: rgba(33, 172, 215, 0.4);
}
.wi-alert-message.alert-info a:hover {
  color: #1c90b4;
}
.wi-alert-message.alert-success {
  background-color: rgba(118, 180, 0, 0.1);
  color: #5b8b00;
  border-color: rgba(118, 180, 0, 0.3);
  border-radius: 3px;
}
.wi-alert-message.alert-success a {
  color: rgba(118, 180, 0, 0.4);
}
.wi-alert-message.alert-success a:hover {
  color: #5b8b00;
}
.wi-alert-message.alert-warning {
  background-color: rgba(245, 178, 0, 0.1);
  color: #cc9400;
  border-color: rgba(245, 178, 0, 0.3);
  border-radius: 3px;
}
.wi-alert-message.alert-warning a {
  color: rgba(245, 178, 0, 0.4);
}
.wi-alert-message.alert-warning a:hover {
  color: #cc9400;
}
.wi-alert-message.alert-error {
  background-color: rgba(182, 38, 0, 0.1);
  color: #8d1d00;
  border-color: rgba(182, 38, 0, 0.3);
  border-radius: 3px;
}
.wi-alert-message.alert-error a {
  color: rgba(182, 38, 0, 0.4);
}
.wi-alert-message.alert-error a:hover {
  color: #8d1d00;
}
/*___________labels_____________*/
.label-white {
  color: #4d4d4d;
  background-color: #ffffff;
  border-color: #d9d9d9;
}
.label-white a {
  color: #333333;
}
.label-white a:hover {
  color: #000000;
}
.label-white a.link {
  color: #333333;
}
.label-white a.link:hover {
  color: #000000;
}
.label-default {
  color: #424242;
  background-color: #f5f5f5;
  border-color: #cfcfcf;
}
.label-default a {
  color: #292929;
}
.label-default a:hover {
  color: #000000;
}
.label-default a.link {
  color: #292929;
}
.label-default a.link:hover {
  color: #000000;
}
.label-dark {
  color: #ffffff;
  background-color: #333333;
  border-color: #212121;
}
.label-dark a {
  color: #e5e5e5;
}
.label-dark a:hover {
  color: #ffffff;
}
.label-primary {
  color: #ffffff;
  background-color: #1e304c;
  border-color: #142032;
}
.label-primary a {
  color: #dde5f2;
}
.label-primary a:hover {
  color: #ffffff;
}
.label-info {
  color: #ffffff;
  background-color: #21acd7;
  border-color: #1c93b8;
}
.label-info a {
  color: #ffffff;
}
.label-info a:hover {
  color: #ffffff;
}
.label-success {
  color: #ffffff;
  background-color: #76b400;
  border-color: #5f9000;
}
.label-success a {
  color: #ffffff;
}
.label-success a:hover {
  color: #ffffff;
}
.label-warning {
  color: #ffffff;
  background-color: #f5b200;
  border-color: #d19800;
}
.label-warning a {
  color: #ffffff;
}
.label-warning a:hover {
  color: #ffffff;
}
.label-error {
  color: #ffffff;
  background-color: #b62600;
  border-color: #921f00;
}
.label-error a {
  color: #ffffff;
}
.label-error a:hover {
  color: #ffffff;
}
/*___________progressbar_____________*/
.progress-bar {
  color: #ffffff;
  background-color: #333333;
  border-color: #212121;
}
.progress-bar a {
  color: #e5e5e5;
}
.progress-bar a:hover {
  color: #ffffff;
}
.bar-white {
  color: #4d4d4d;
  background-color: #ffffff;
  border-color: #d9d9d9;
}
.bar-white a {
  color: #333333;
}
.bar-white a:hover {
  color: #000000;
}
.bar-white a.link {
  color: #333333;
}
.bar-white a.link:hover {
  color: #000000;
}
.bar-primary {
  color: #ffffff;
  background-color: #1e304c;
  border-color: #142032;
}
.bar-primary a {
  color: #dde5f2;
}
.bar-primary a:hover {
  color: #ffffff;
}
.bar-info {
  color: #ffffff;
  background-color: #21acd7;
  border-color: #1c93b8;
}
.bar-info a {
  color: #ffffff;
}
.bar-info a:hover {
  color: #ffffff;
}
.bar-success {
  color: #ffffff;
  background-color: #76b400;
  border-color: #5f9000;
}
.bar-success a {
  color: #ffffff;
}
.bar-success a:hover {
  color: #ffffff;
}
.bar-warning {
  color: #ffffff;
  background-color: #f5b200;
  border-color: #d19800;
}
.bar-warning a {
  color: #ffffff;
}
.bar-warning a:hover {
  color: #ffffff;
}
.bar-error {
  color: #ffffff;
  background-color: #b62600;
  border-color: #921f00;
}
.bar-error a {
  color: #ffffff;
}
.bar-error a:hover {
  color: #ffffff;
}
/* _________datepicker_________ */
.wi-datetimepicker-widget,
.wi-datepicker-widget {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #1e304c;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #d9d9d9;
}
.wi-datetimepicker-widget:before,
.wi-datepicker-widget:before {
  border-bottom: 7px solid #e6e6e6;
}
.wi-datetimepicker-widget:after,
.wi-datepicker-widget:after {
  border-bottom: 6px solid #ffffff;
}
.wi-datetimepicker-widget .timepicker-picker .wi-btn,
.wi-datepicker-widget .timepicker-picker .wi-btn {
  background-color: #21acd7;
  color: #ffffff;
  border-color: #1fa1ca;
  border-radius: 3px;
}
.wi-datetimepicker-widget .timepicker-picker .wi-btn:hover,
.wi-datepicker-widget .timepicker-picker .wi-btn:hover {
  background-color: #1fa1ca;
  color: #ffffff;
}
.wi-datetimepicker-widget .picker-switch a,
.wi-datepicker-widget .picker-switch a {
  color: #1e304c;
  border-color: #e6e6e6;
}
.wi-datetimepicker-widget table,
.wi-datepicker-widget table {
  width: 100%;
  margin: 0;
}
.wi-datetimepicker-widget table td,
.wi-datepicker-widget table td,
.wi-datetimepicker-widget table th,
.wi-datepicker-widget table th {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wi-datetimepicker-widget table td.day:hover,
.wi-datepicker-widget table td.day:hover,
.wi-datetimepicker-widget table th.day:hover,
.wi-datepicker-widget table th.day:hover,
.wi-datetimepicker-widget table td.hour:hover,
.wi-datepicker-widget table td.hour:hover,
.wi-datetimepicker-widget table th.hour:hover,
.wi-datepicker-widget table th.hour:hover,
.wi-datetimepicker-widget table td.minute:hover,
.wi-datepicker-widget table td.minute:hover,
.wi-datetimepicker-widget table th.minute:hover,
.wi-datepicker-widget table th.minute:hover,
.wi-datetimepicker-widget table td.second:hover,
.wi-datepicker-widget table td.second:hover,
.wi-datetimepicker-widget table th.second:hover,
.wi-datepicker-widget table th.second:hover {
  background: #e6e6e6;
  color: #1e304c;
}
.wi-datetimepicker-widget table td.old,
.wi-datepicker-widget table td.old,
.wi-datetimepicker-widget table td.new,
.wi-datepicker-widget table td.new {
  color: rgba(30, 48, 76, 0.5);
}
.wi-datetimepicker-widget table td.current span,
.wi-datepicker-widget table td.current span {
  color: #333333;
  background-color: rgba(245, 178, 0, 0.1);
}
.wi-datetimepicker-widget table td.active,
.wi-datepicker-widget table td.active,
.wi-datetimepicker-widget table td.active:hover,
.wi-datepicker-widget table td.active:hover {
  color: #ffffff;
  background-color: #21acd7;
}
.wi-datetimepicker-widget table td.active span,
.wi-datepicker-widget table td.active span,
.wi-datetimepicker-widget table td.active:hover span,
.wi-datepicker-widget table td.active:hover span {
  color: #ffffff;
  background-color: #21acd7;
}
.wi-datetimepicker-widget table td.active:hover,
.wi-datepicker-widget table td.active:hover,
.wi-datetimepicker-widget table td.active:hover:hover,
.wi-datepicker-widget table td.active:hover:hover,
.wi-datetimepicker-widget table td.active:active,
.wi-datepicker-widget table td.active:active,
.wi-datetimepicker-widget table td.active:hover:active,
.wi-datepicker-widget table td.active:hover:active,
.wi-datetimepicker-widget table td.active.active,
.wi-datepicker-widget table td.active.active,
.wi-datetimepicker-widget table td.active:hover.active,
.wi-datepicker-widget table td.active:hover.active,
.wi-datetimepicker-widget table td.active.disabled,
.wi-datepicker-widget table td.active.disabled,
.wi-datetimepicker-widget table td.active:hover.disabled,
.wi-datepicker-widget table td.active:hover.disabled,
.wi-datetimepicker-widget table td.active[disabled],
.wi-datepicker-widget table td.active[disabled],
.wi-datetimepicker-widget table td.active:hover[disabled],
.wi-datepicker-widget table td.active:hover[disabled] {
  color: #ffffff;
  background-color: #21acd7;
}
.wi-datetimepicker-widget table td.active:active,
.wi-datepicker-widget table td.active:active,
.wi-datetimepicker-widget table td.active:hover:active,
.wi-datepicker-widget table td.active:hover:active,
.wi-datetimepicker-widget table td.active.active,
.wi-datepicker-widget table td.active.active,
.wi-datetimepicker-widget table td.active:hover.active,
.wi-datepicker-widget table td.active:hover.active {
  color: #ffffff;
  background-color: #21acd7;
}
.wi-datetimepicker-widget table td.disabled,
.wi-datepicker-widget table td.disabled,
.wi-datetimepicker-widget table td.disabled:hover,
.wi-datepicker-widget table td.disabled:hover {
  color: rgba(30, 48, 76, 0.5);
}
.wi-datetimepicker-widget table td span,
.wi-datepicker-widget table td span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.wi-datetimepicker-widget table td span:hover,
.wi-datepicker-widget table td span:hover {
  background: #e6e6e6;
}
.wi-datetimepicker-widget table td span.active,
.wi-datepicker-widget table td span.active,
.wi-datetimepicker-widget table td span.active:active,
.wi-datepicker-widget table td span.active:active,
.wi-datetimepicker-widget table td span.active.active,
.wi-datepicker-widget table td span.active.active,
.wi-datetimepicker-widget table td span.active:hover,
.wi-datepicker-widget table td span.active:hover,
.wi-datetimepicker-widget table td span.active:active,
.wi-datepicker-widget table td span.active:active,
.wi-datetimepicker-widget table td span.active.active,
.wi-datepicker-widget table td span.active.active,
.wi-datetimepicker-widget table td span.active.disabled,
.wi-datepicker-widget table td span.active.disabled,
.wi-datetimepicker-widget table td span.active[disabled],
.wi-datepicker-widget table td span.active[disabled] {
  color: #ffffff;
  background-color: #21acd7;
}
.wi-datetimepicker-widget table td span.old,
.wi-datepicker-widget table td span.old {
  color: rgba(30, 48, 76, 0.5);
}
.wi-datetimepicker-widget table td span.disabled,
.wi-datepicker-widget table td span.disabled,
.wi-datetimepicker-widget table td span.disabled:hover,
.wi-datepicker-widget table td span.disabled:hover {
  color: rgba(30, 48, 76, 0.5);
}
.wi-datetimepicker-widget table th.disabled,
.wi-datepicker-widget table th.disabled,
.wi-datetimepicker-widget table th.disabled:hover,
.wi-datepicker-widget table th.disabled:hover {
  color: rgba(30, 48, 76, 0.5);
}
.wi-datetimepicker-widget table thead tr:first-child th.next,
.wi-datepicker-widget table thead tr:first-child th.next,
.wi-datetimepicker-widget table thead tr:first-child th.prev,
.wi-datepicker-widget table thead tr:first-child th.prev {
  cursor: pointer;
}
.wi-datetimepicker-widget table thead tr:first-child th.next:hover,
.wi-datepicker-widget table thead tr:first-child th.next:hover,
.wi-datetimepicker-widget table thead tr:first-child th.prev:hover,
.wi-datepicker-widget table thead tr:first-child th.prev:hover {
  background: transparent;
}
/* _________modal______________ */
.modal .modal-header {
  background-color: #1e304c;
  color: #fff;
}
.modal .modal-body {
  background-color: #ffffff;
}
.modal .modal-footer {
  background-color: #f5f5f5;
}
/* _________tabs_______________ */
.wi-tabs li a span {
  background-color: #1e304c;
  color: #ffffff;
  border-color: #1a2941;
}
.wi-tabs li a span:hover {
  background-color: #17243a;
}
.wi-tabs .active a span {
  background-color: #ffffff;
  color: #333333;
  border-color: #d9d9d9;
  border-bottom-color: #ffffff;
}
.wi-tabs .active a span:hover {
  background-color: #ffffff;
  color: #333333;
  border-color: #d9d9d9;
  border-bottom-color: #ffffff;
}
.wi-tabs-area {
  background-color: #ffffff;
  color: #333333;
  border-color: #d9d9d9;
}
/* _________popover______________ */
.popover {
  background-color: #ffffff;
  border-color: #d4d4d4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: #333333;
  border-radius: 3px;
}
.popover .popover-title {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 3px 3px 0 0;
}
.popover.top > .arrow {
  border-top-color: #d4d4d4;
}
.popover.top > .arrow::after {
  border-top-color: #ffffff;
}
.popover.right > .arrow {
  border-right-color: #d4d4d4;
}
.popover.right > .arrow::after {
  border-right-color: #ffffff;
}
.popover.bottom > .arrow {
  border-bottom-color: #d4d4d4;
}
.popover.bottom > .arrow::after {
  border-bottom-color: #ffffff;
}
.popover.left > .arrow {
  border-left-color: #d4d4d4;
}
.popover.left > .arrow::after {
  border-left-color: #ffffff;
}
/* _________pagination______________ */
.wi-pagination > li > a,
.wi-pagination > li > span {
  color: #1e304c;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
}
.wi-pagination > li > a:hover,
.wi-pagination > li > span:hover,
.wi-pagination > li > a:focus,
.wi-pagination > li > span:focus {
  background-color: #f2f2f2;
}
.wi-pagination > .active > a,
.wi-pagination > .active > span,
.wi-pagination > .active > a:hover,
.wi-pagination > .active > span:hover,
.wi-pagination > .active > a:focus,
.wi-pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  background-color: #1e304c;
  border-color: #17243a;
  color: #ffffff;
}
.wi-pagination > .disabled > span,
.wi-pagination > .disabled > span:hover,
.wi-pagination > .disabled > span:focus,
.wi-pagination > .disabled > a,
.wi-pagination > .disabled > a:hover,
.wi-pagination > .disabled > a:focus {
  color: rgba(30, 48, 76, 0.5);
  background-color: #ffffff;
  cursor: not-allowed;
}
/* _________pager______________ */
.wi-pager li > a,
.wi-pager li > span {
  color: #1e304c;
  background-color: #ffffff;
  border-color: #d9d9d9;
}
.wi-pager li > a:hover,
.wi-pager li > a:focus {
  color: #ffffff;
  background-color: #1e304c;
  border-color: #080d15;
}
.wi-pager .disabled > a,
.wi-pager .disabled > a:hover,
.wi-pager .disabled > a:focus,
.wi-pager .disabled > span {
  color: #1e304c;
  background-color: #ffffff;
  border-color: #d9d9d9;
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 04 FORMS -------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
* input[type=text],
* input[type=search],
* input[type=date],
* input[type=time],
* input[type=password],
* input[type=email],
* input[type=number],
* input[type="file"],
* select,
* textarea {
  background-color: #ffffff;
  border-color: #d6d6d6;
  color: #292929;
}
* input[type=text]:focus,
* input[type=search]:focus,
* input[type=date]:focus,
* input[type=time]:focus,
* input[type=password]:focus,
* input[type=email]:focus,
* input[type=number]:focus,
* input[type="file"]:focus,
* select:focus,
* textarea:focus {
  background-color: #ffffff;
  box-shadow: 0 0 5px #cfcfcf;
}
* input[type=text].error,
* input[type=search].error,
* input[type=date].error,
* input[type=time].error,
* input[type=password].error,
* input[type=email].error,
* input[type=number].error,
* input[type="file"].error,
* select.error,
* textarea.error {
  border-color: rgba(182, 38, 0, 0.5);
  box-shadow: 0 0 5px rgba(182, 38, 0, 0.4);
}
* input[type=text].valid,
* input[type=search].valid,
* input[type=date].valid,
* input[type=time].valid,
* input[type=password].valid,
* input[type=email].valid,
* input[type=number].valid,
* input[type="file"].valid,
* select.valid,
* textarea.valid {
  border-color: rgba(118, 180, 0, 0.5);
  box-shadow: 0 0 5px rgba(118, 180, 0, 0.4);
}
* fieldset {
  background-color: #f7f7f7;
  border-color: #d4d4d4;
}
* label.error {
  color: #b62600;
}
* .label-add-on {
  background-color: #f5f5f5;
  border-color: #d6d6d6;
  color: #292929;
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 05 NAVIGATION --------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
nav ul li a {
  color: #333333;
  background-color: transparent;
}
nav ul li a:hover {
  color: #191919;
  background-color: #e8e8e8;
}
nav ul li.open > a,
nav ul li.open > a:hover,
nav ul li.current-menu-item > a,
nav ul li.current-menu-item > a:hover,
nav ul li.current-page-ancestor > a,
nav ul li.current-page-ancestor > a:hover,
nav ul li a.highlighted,
nav ul li a.highlighted:hover {
  color: #ffffff;
  background-color: #333333;
}
nav ul li ul {
  background-color: #ffffff;
  border: none;
}
nav ul li ul li a {
  color: #696969;
  background-color: transparent;
}
nav ul li ul li a:hover,
nav ul li ul li a.highlighted,
nav ul li ul li a.highlighted:hover {
  color: #333333;
  background-color: #f5f5f5;
}
nav ul li ul li a.link:hover {
  background-color: transparent;
}
nav ul li ul li.open > a,
nav ul li ul li.open > a:hover,
nav ul li ul li.current-menu-item > a,
nav ul li ul li.current-menu-item > a:hover,
nav ul li ul li.current-page-ancestor > a,
nav ul li ul li.current-page-ancestor > a:hover {
  color: #000000;
  background-color: rgba(51, 51, 51, 0.1);
}
@media only screen and (min-width: 785px) {
  nav ul li ul {
    box-shadow: 0 5px 12px #b5b5b5;
  }
}
nav.vertical-nav ul li ul {
  box-shadow: none;
}
nav.nav-inverse {
  color: #ffffff;
  background-color: #333333;
}
nav.nav-inverse a {
  color: #ffffff;
  background-color: #333333;
}
nav.nav-inverse a:hover {
  color: #ffffff;
  background-color: #262626;
}
nav.nav-inverse ul li a {
  color: #ffffff;
  background-color: #333333;
}
nav.nav-inverse ul li a:hover {
  color: #ffffff;
  background-color: #262626;
}
nav.nav-inverse ul li.open > a,
nav.nav-inverse ul li.open > a:hover,
nav.nav-inverse ul li.current-menu-item > a,
nav.nav-inverse ul li.current-menu-item > a:hover,
nav.nav-inverse ul li.current-page-ancestor > a,
nav.nav-inverse ul li.current-page-ancestor > a:hover,
nav.nav-inverse ul li a.highlighted,
nav.nav-inverse ul li a.highlighted:hover {
  color: #242424;
  background-color: #ffffff;
}
nav.nav-inverse ul li ul {
  background-color: #242424;
  border: none;
  box-shadow: none;
}
nav.nav-inverse ul li ul li a {
  color: #ffffff;
  background-color: transparent;
}
nav.nav-inverse ul li ul li a:hover,
nav.nav-inverse ul li ul li a.highlighted,
nav.nav-inverse ul li ul li a.highlighted:hover {
  color: #ffffff;
  background-color: #1f1f1f;
}
nav.nav-inverse ul li ul li a.link:hover {
  background-color: transparent;
}
nav.nav-inverse ul li ul li.open > a,
nav.nav-inverse ul li ul li.open > a:hover,
nav.nav-inverse ul li ul li.current-menu-item > a,
nav.nav-inverse ul li ul li.current-menu-item > a:hover,
nav.nav-inverse ul li ul li.current-page-ancestor > a,
nav.nav-inverse ul li ul li.current-page-ancestor > a:hover {
  color: #242424;
  background-color: #ffffff;
}
nav.nav-primary ul li a {
  color: #333333;
  background-color: transparent;
}
nav.nav-primary ul li a:hover {
  color: #191919;
  background-color: #e8e8e8;
}
nav.nav-primary ul li.open > a,
nav.nav-primary ul li.open > a:hover,
nav.nav-primary ul li.current-menu-item > a,
nav.nav-primary ul li.current-menu-item > a:hover,
nav.nav-primary ul li.current-page-ancestor > a,
nav.nav-primary ul li.current-page-ancestor > a:hover,
nav.nav-primary ul li a.highlighted,
nav.nav-primary ul li a.highlighted:hover {
  color: #ffffff;
  background-color: #1e304c;
}
nav.nav-primary ul li ul {
  background-color: #ffffff;
  border: none;
}
nav.nav-primary ul li ul li a {
  color: #696969;
  background-color: transparent;
}
nav.nav-primary ul li ul li a:hover,
nav.nav-primary ul li ul li a.highlighted,
nav.nav-primary ul li ul li a.highlighted:hover {
  color: #333333;
  background-color: #f5f5f5;
}
nav.nav-primary ul li ul li a.link:hover {
  background-color: transparent;
}
nav.nav-primary ul li ul li.open > a,
nav.nav-primary ul li ul li.open > a:hover,
nav.nav-primary ul li ul li.current-menu-item > a,
nav.nav-primary ul li ul li.current-menu-item > a:hover,
nav.nav-primary ul li ul li.current-page-ancestor > a,
nav.nav-primary ul li ul li.current-page-ancestor > a:hover {
  color: #010203;
  background-color: rgba(30, 48, 76, 0.1);
}
@media only screen and (min-width: 785px) {
  nav.nav-primary ul li ul {
    box-shadow: 0 5px 12px #b5b5b5;
  }
}
nav.nav-primary.vertical-nav ul li ul {
  box-shadow: none;
}
nav.nav-primary-inverse {
  color: #ffffff;
  background-color: #1e304c;
}
nav.nav-primary-inverse a {
  color: #ffffff;
  background-color: #1e304c;
}
nav.nav-primary-inverse a:hover {
  color: #ffffff;
  background-color: #17243a;
}
nav.nav-primary-inverse ul li a {
  color: #ffffff;
  background-color: #1e304c;
}
nav.nav-primary-inverse ul li a:hover {
  color: #ffffff;
  background-color: #17243a;
}
nav.nav-primary-inverse ul li.open > a,
nav.nav-primary-inverse ul li.open > a:hover,
nav.nav-primary-inverse ul li.current-menu-item > a,
nav.nav-primary-inverse ul li.current-menu-item > a:hover,
nav.nav-primary-inverse ul li.current-page-ancestor > a,
nav.nav-primary-inverse ul li.current-page-ancestor > a:hover,
nav.nav-primary-inverse ul li a.highlighted,
nav.nav-primary-inverse ul li a.highlighted:hover {
  color: #152236;
  background-color: #ffffff;
}
nav.nav-primary-inverse ul li ul {
  background-color: #152236;
  border: none;
  box-shadow: none;
}
nav.nav-primary-inverse ul li ul li a {
  color: #ffffff;
  background-color: transparent;
}
nav.nav-primary-inverse ul li ul li a:hover,
nav.nav-primary-inverse ul li ul li a.highlighted,
nav.nav-primary-inverse ul li ul li a.highlighted:hover {
  color: #ffffff;
  background-color: #121e2f;
}
nav.nav-primary-inverse ul li ul li a.link:hover {
  background-color: transparent;
}
nav.nav-primary-inverse ul li ul li.open > a,
nav.nav-primary-inverse ul li ul li.open > a:hover,
nav.nav-primary-inverse ul li ul li.current-menu-item > a,
nav.nav-primary-inverse ul li ul li.current-menu-item > a:hover,
nav.nav-primary-inverse ul li ul li.current-page-ancestor > a,
nav.nav-primary-inverse ul li ul li.current-page-ancestor > a:hover {
  color: #152236;
  background-color: #ffffff;
}
#wi-footer nav.nav-footer {
  color: #ffffff;
  background-color: #1e304c;
}
#wi-footer nav.nav-footer a {
  color: #ffffff;
  background-color: #1e304c;
}
#wi-footer nav.nav-footer a:hover {
  color: #ffffff;
  background-color: #17243a;
}
#wi-footer nav.nav-footer ul li a {
  color: #ffffff;
  background-color: #1e304c;
}
#wi-footer nav.nav-footer ul li a:hover {
  color: #ffffff;
  background-color: #17243a;
}
#wi-footer nav.nav-footer ul li.open > a,
#wi-footer nav.nav-footer ul li.open > a:hover,
#wi-footer nav.nav-footer ul li.current-menu-item > a,
#wi-footer nav.nav-footer ul li.current-menu-item > a:hover,
#wi-footer nav.nav-footer ul li.current-page-ancestor > a,
#wi-footer nav.nav-footer ul li.current-page-ancestor > a:hover,
#wi-footer nav.nav-footer ul li a.highlighted,
#wi-footer nav.nav-footer ul li a.highlighted:hover {
  color: #152236;
  background-color: #ffffff;
}
#wi-footer nav.nav-footer ul li ul {
  background-color: #152236;
  border: none;
  box-shadow: none;
}
#wi-footer nav.nav-footer ul li ul li a {
  color: #ffffff;
  background-color: transparent;
}
#wi-footer nav.nav-footer ul li ul li a:hover,
#wi-footer nav.nav-footer ul li ul li a.highlighted,
#wi-footer nav.nav-footer ul li ul li a.highlighted:hover {
  color: #ffffff;
  background-color: #121e2f;
}
#wi-footer nav.nav-footer ul li ul li a.link:hover {
  background-color: transparent;
}
#wi-footer nav.nav-footer ul li ul li.open > a,
#wi-footer nav.nav-footer ul li ul li.open > a:hover,
#wi-footer nav.nav-footer ul li ul li.current-menu-item > a,
#wi-footer nav.nav-footer ul li ul li.current-menu-item > a:hover,
#wi-footer nav.nav-footer ul li ul li.current-page-ancestor > a,
#wi-footer nav.nav-footer ul li ul li.current-page-ancestor > a:hover {
  color: #152236;
  background-color: #ffffff;
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 06 DROPDOWN ----------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- 
 */
ul .dropdown-menu,
div .dropdown-menu {
  background-color: #ffffff;
  color: #1c1c1c;
  border-color: #dbdbdb;
  color: #000000;
}
ul .dropdown-menu li a,
div .dropdown-menu li a {
  color: #292929;
  background-color: #ffffff;
}
ul .dropdown-menu li a:hover,
div .dropdown-menu li a:hover {
  color: #000000;
  background-color: #f5f5f5;
}
ul .dropdown-menu li.selected a,
div .dropdown-menu li.selected a {
  color: #ffffff;
  background-color: #1e304c;
}
@media only screen and (min-width: 785px) {
  ul .dropdown-menu,
  div .dropdown-menu {
    box-shadow: 0 5px 12px #b5b5b5;
  }
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 07 TABLES ------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
table.wi-table thead,
table.wi-table tfoot {
  background-color: #1e304c;
  color: #ffffff;
}
table.wi-table tbody tr.selected,
table.wi-table tbody tr.selected:hover {
  background-color: #dde5f2;
}
table.wi-table tbody tr.selected,
table.wi-table tbody tr.selected-before {
  border-color: #94add5;
}
table.wi-table tbody tr,
table.wi-table tbody tr.table-scroll,
table.wi-table tbody tr.table-scroll:hover {
  background-color: #ffffff;
}
table.wi-table tbody tr {
  background-color: #ffffff;
  color: #1c1c1c;
  border-color: #ededed;
}
table.wi-table tbody tr:hover,
table.wi-table tbody tr:hover.selected {
  background-color: #fcfcfc;
}
.dataTables_wrapper thead,
.dataTables_wrapper tfoot {
  background-color: transparent;
}
.dataTables_wrapper .dataTables_scrollHead,
.dataTables_wrapper .dataTables_scrollFoot {
  background-color: #1e304c;
  color: #ffffff;
}
.dataTables_wrapper .dataTables_paginate a {
  color: #000000;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
  background-color: #ffffff;
  color: #000000;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate a.paginate_button.next:hover {
  background-color: transparent;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
  background-color: #121e2f;
  color: #ffffff;
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 08 CAROUSEL ----------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
.carousel .carousel-control span {
  background-color: #1e304c;
}
.carousel .carousel-control span i {
  color: #ffffff;
}
.carousel .carousel-indicators li {
  border-radius: 3px;
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 09 SCROLLBAR ---------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
.mCS-wi-theme.mCSB_scrollTools {
  background-color: #ededed;
}
.mCS-wi-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-wi-theme.mCSB_scrollTools .mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCS-wi-theme.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #333333;
}
.mCS-wi-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #ffffff;
}
.mCS-wi-theme.mCSB_scrollTools a.mCSB_buttonUp,
.mCS-wi-theme.mCSB_scrollTools a.mCSB_buttonDown,
.mCS-wi-theme.mCSB_scrollTools a.mCSB_buttonLeft,
.mCS-wi-theme.mCSB_scrollTools a.mCSB_buttonRight {
  color: #333333;
}
/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 10 COLORSET ----------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
.colorset-white {
  color: #4d4d4d;
  background-color: #ffffff;
  border-color: #d9d9d9;
}
.colorset-white a {
  color: #333333;
}
.colorset-white a:hover {
  color: #000000;
}
.colorset-white a.link {
  color: #333333;
}
.colorset-white a.link:hover {
  color: #000000;
}
.colorset-default {
  color: #424242;
  background-color: #f5f5f5;
  border-color: #cfcfcf;
}
.colorset-default a {
  color: #292929;
}
.colorset-default a:hover {
  color: #000000;
}
.colorset-default a.link {
  color: #292929;
}
.colorset-default a.link:hover {
  color: #000000;
}
.colorset-dark {
  color: #ffffff;
  background-color: #333333;
  border-color: #212121;
}
.colorset-dark a {
  color: #e5e5e5;
}
.colorset-dark a:hover {
  color: #ffffff;
}
.colorset-primary {
  color: #ffffff;
  background-color: #1e304c;
  border-color: #142032;
}
.colorset-primary a {
  color: #dde5f2;
}
.colorset-primary a:hover {
  color: #ffffff;
}
.colorset-info {
  color: #ffffff;
  background-color: #21acd7;
  border-color: #1c93b8;
}
.colorset-info a {
  color: #ffffff;
}
.colorset-info a:hover {
  color: #ffffff;
}
.colorset-success {
  color: #ffffff;
  background-color: #76b400;
  border-color: #5f9000;
}
.colorset-success a {
  color: #ffffff;
}
.colorset-success a:hover {
  color: #ffffff;
}
.colorset-warning {
  color: #ffffff;
  background-color: #f5b200;
  border-color: #d19800;
}
.colorset-warning a {
  color: #ffffff;
}
.colorset-warning a:hover {
  color: #ffffff;
}
.colorset-error {
  color: #ffffff;
  background-color: #b62600;
  border-color: #921f00;
}
.colorset-error a {
  color: #ffffff;
}
.colorset-error a:hover {
  color: #ffffff;
}
.wi-frame.colorset-default,
.wi-frame.colorset-primary,
.wi-frame.colorset-white,
.wi-frame.colorset-error,
.wi-frame.colorset-success,
.wi-frame.colorset-warning {
  background-color: transparent;
  border-color: transparent;
}
