// colorset

//GLOBAL

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

// ---------------------------+------------------------------ BASE ------------------------------------------------------

$font-default:                                 'Open Sans', sans-serif;
$font-primary:                                 'Roboto', sans-serif;


// ---------------------------+----------------------------- SET COLORS --------------------------------------------------

$color-white:                                #FFFFFF;
$color-default:                              #d0d8dc;
$color-dark:                                 #607d8b;
$color-primary:                              #37474f;
$color-accent:                               #029f83;
$color-error:                                #F44336;
$color-info:                                 #2196F3;
$color-success:                              #4CAF50;
$color-warning:                              #FF9800;

$header-bg:                                  $color-primary;
$header-link:                                $color-white;
$container-bg:                               darken($color-white, 8%);
$footer-bg:                                  $color-primary;
$footer-link:                                $color-white;

$modal-header-bg:                            $color-primary;
$modal-content-bg:                           $color-white;
$modal-footer-bg:                            $color-white;
$modal-backdrop-bg:                          rgba(0,0,0,0.5);



/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 01 LAYOUT ------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */

body{
   @include Body($color-primary, $color-primary, $font-default); //$bg-color, $link-color, $font-body
   #wi-header{
      @include Header($header-bg, $header-link);
   }
   #wi-container{
      background-color:$container-bg;
      .wi-breadcrumbs{
         @include ColorSetInverse($color-primary);
      }
   }
   #wi-footer{
        @include Footer($footer-bg, $footer-link);
   }
}  
					




/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 02 BUTTONS -----------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */

$brd-width :  1px;
$btn-radius: 3px; 

//$bg-default
//$label-default
//$bg-active
//$label-active
//$brd-width
//$brd-color
//$btn-radius

.wi-btn               { @include Button(
                                        transparent,
                                        $color-dark,
                                        $color-default,
                                        $color-dark,
                                        $brd-width,
                                        darken($color-default, 10%),
                                        $btn-radius
                                      )
                      }

.wi-btn.btn-white    { @include Button(
                                        $color-white,
                                        $color-dark,
                                        $color-default,
                                        $color-dark,
                                        $brd-width,
                                        darken($color-default, 10%),
                                        $btn-radius
                                      )
                      }

.wi-btn.btn-primary   { @include Button(
                                        $color-primary,
                                        $color-white,
                                        darken($color-primary, 10%),
                                        $color-white,
                                        $brd-width,
                                        $color-primary,
                                        $btn-radius
                                      )
                      }

.wi-btn.btn-accent    { @include Button(
                                        $color-accent,
                                        $color-white,
                                        darken($color-accent, 10%),
                                        $color-white,
                                        $brd-width,
                                        $color-accent,
                                        $btn-radius
                                      )
                      }

.wi-btn.btn-error    { @include Button(
                                        $color-error,
                                        $color-white,
                                        darken($color-error, 10%),
                                        $color-white,
                                        $brd-width,
                                        $color-error,
                                        $btn-radius
                                      )
                      }

.wi-btn.btn-info      { @include Button(
                                        $color-info,
                                        $color-white,
                                        darken($color-info, 10%),
                                        $color-white,
                                        $brd-width,
                                        $color-info,
                                        $btn-radius
                                      )
                      }

.wi-btn.btn-success   { @include Button(
                                        $color-success,
                                        $color-white,
                                        darken($color-success, 10%),
                                        $color-white,
                                        $brd-width,
                                        $color-success,
                                        $btn-radius
                                      )
                      }

.wi-btn.btn-warning   { @include Button(
                                        $color-warning,
                                        $color-white,
                                        darken($color-warning, 10%),
                                        $color-white,
                                        $brd-width,
                                        $color-warning,
                                        $btn-radius
                                      )
                      }


//$label-default
//$bg-active
//$label-active
//$btn-radius
//$brd-width
//$brd-style
//$brd-color

.wi-btn.outline               { @include ButtonOutLine(
                                        $color-dark,
                                        $color-default,
                                        $color-dark,
                                        $btn-radius,
                                        $brd-width,
                                        solid,
                                        darken($color-default, 10%)
                                      )
                                 }
.wi-btn.btn-primary-outline   { @include ButtonOutLine(
                                        $color-primary,
                                        $color-primary,
                                        $color-white,
                                        $btn-radius,
                                        $brd-width,
                                        solid,
                                        $color-primary
                                      )
                                 }
.wi-btn.btn-accent-outline    { @include ButtonOutLine(
                                        $color-accent,
                                        $color-accent,
                                        $color-white,
                                        $btn-radius,
                                        $brd-width,
                                        solid,
                                        $color-accent
                                      )
                                 }

.wi-btn.btn-error-outline    { @include ButtonOutLine(
                                        $color-error,
                                        $color-error,
                                        $color-white,
                                        $btn-radius,
                                        $brd-width,
                                        solid,
                                        $color-error
                                      )
                                 }

.wi-btn.btn-info-outline      { @include ButtonOutLine(
                                        $color-info,
                                        $color-info,
                                        $color-white,
                                        $btn-radius,
                                        $brd-width,
                                        solid,
                                        $color-info
                                      )
                                 }
.wi-btn.btn-success-outline   { @include ButtonOutLine(
                                        $color-success,
                                        $color-success,
                                        $color-white,
                                        $btn-radius,
                                        $brd-width,
                                        solid,
                                        $color-success
                                      )
                                 }
.wi-btn.btn-warning-outline   { @include ButtonOutLine(
                                        $color-warning,
                                        $color-warning,
                                        $color-white,
                                        $btn-radius,
                                        $brd-width,
                                        solid,
                                        $color-warning
                                      )
                                 }



/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 03 COMPONENTS --------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */


/* _________accordion__________ */
.wi-collapse-group                            { @include Accordion(lighten($color-default, 3%), $color-primary, $color-default, $color-primary, $color-white, $color-primary, 1px 1px 0 1px); 
                                                        //$bg-color, $color, $bg-active, $color-active, $bg-content, $color-content, $brd-width
}


/* _________alert______________ */
//.wi-alert-message                             { @include Alert($color-default);
//&.alert-white                                 { @include Alert($color-white) }
.alert-info                                  { @include AlertInverse($color-info) }
.alert-success                               { @include AlertInverse($color-success) }
.alert-warning                               { @include AlertInverse($color-warning) }
.alert-error                                 { @include AlertInverse($color-error) }

/*___________labels_____________*/
.label-white                                  { @include ColorSet($color-white) }
.label-default                                { @include ColorSet($color-default) }
.label-dark                                   { @include ColorSetInverse($color-dark) }
.label-primary                                { @include ColorSetInverse($color-primary) }
.label-info                                   { @include ColorSetInverse($color-info) }
.label-success                                { @include ColorSetInverse($color-success) }
.label-warning                                { @include ColorSetInverse($color-warning) }
.label-error                                  { @include ColorSetInverse($color-error) }

/*___________progressbar_____________*/
.progress-bar                                 { @include ColorSetInverse($color-dark) }
.bar-primary                                  { @include ColorSetInverse($color-primary) }
.bar-info                                     { @include ColorSetInverse($color-info) }
.bar-success                                  { @include ColorSetInverse($color-success) }
.bar-warning                                  { @include ColorSetInverse($color-warning) }
.bar-error                                    { @include ColorSetInverse($color-error) }


/* _________datepicker_________ */
.ui-datepicker                                { @include DatePicker } //dep

.wi-datetimepicker-widget,
.wi-datepicker-widget                         { @include DateTimePicker($color-white, $color-primary, $color-info, $color-white) }

/* _________modal______________ */
.modal                                        { @include ModalColor($color-white, $color-dark, $color-white, $color-dark, $color-white, $color-dark) } //$header-bg, $header-txt, $content-bg, $content-txt, $footer-bg, $footer-txt
	
/* _________tabs_______________ */
.wi-tabs                                      { @include TabsDefault($color-default, $color-dark) }
.wi-tabs                                      { @include TabsActive($color-white, $color-primary) }
.wi-tabs-area                                 { @include TabsArea($color-white, $color-dark) }

/* _________popover____________ */
.popover {
    background-color: #ffffff;
    border-color: #d4d4d4;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: #333333;
    .popover-title{
      background-color: #f7f7f7;
       border-bottom: 1px solid #d4d4d4;
       border-radius: 3px 3px 0 0;
    }
    &.top{
      > .arrow{
         border-top-color: #d4d4d4;
         &::after{
            border-top-color: #ffffff;
         }
      }
    }
    &.right{
      > .arrow{
         border-right-color: #d4d4d4;
         &::after{
            border-right-color: #ffffff;
         }
      }
    }
    &.bottom{
      > .arrow{
         border-bottom-color: #d4d4d4;
         &::after{
            border-bottom-color: #ffffff;
         }
      }
   }
   &.left{
      > .arrow{
         border-left-color: #d4d4d4;
         &::after{
            border-left-color: #ffffff;
         }
      }
   }
}

/* _________pagination______________ */
.wi-pagination                                 { @include Pagination($color-white, $color-primary, $color-primary, $color-white) }

/* _________pager______________ */
.wi-pager                                      { @include Pager($color-white, $color-primary, $color-primary, $color-white) }

											  


/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 04 FORMS -------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */


*                                              { @include FormDefault($color-white) }


/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 05 NAVIGATION --------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
   
//DEFAULT NAV
nav                                            { @include ColorSetNav($color-white, $color-dark); }

//INVERSE DEFAULT NAV
nav.nav-inverse                                { @include ColorSetNavInverse($color-white, $color-dark, $color-dark, $color-white); } //$bg-color, $link-color, $bg-color-active, $link-color-active

//PRIMARY NAV
nav.nav-primary                                { @include ColorSetNav($color-white, $color-primary); }

//INVERSE PRIMARY NAV
nav.nav-primary-inverse                        { @include ColorSetNavInverse($color-primary, $color-white, $color-white, $color-primary);} //$bg-color, $link-color, $bg-color-active, $link-color-active

//NAV HEADER
#wi-header{
   nav.nav-header                              { @include ColorSetNavInverse($color-primary, $color-white, $color-accent, $color-white); }
}

//NAV FOOTER
#wi-footer{
   nav.nav-footer                              { @include ColorSetNavInverse($color-primary, $color-white, $color-accent, $color-white); }
}


/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 06 DROPDOWN ----------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- 
 */

ul,
div                                            { @include DropDown($color-white, $color-dark) } //$bg-color, $txt-color

/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 07 TABLES ------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
   
table.wi-table                                 { @include TableDefault($color-dark, transparent, $color-default) } //$color, $bg-color, $brd-color
//.dataTables_wrapper                            { @include TableData($color-default, $color-primary) }
   

/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 08 CAROUSEL ----------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
.carousel                                      { @include Carousel($color-primary, $color-white) }



/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 09 SCROLLBAR ---------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
.mCS-wi-theme.mCSB_scrollTools                  { @include ScrollBarDefault($color-default, $color-dark) }




/* ----------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |---------------------------------------------------- 10 COLORSET ----------------------------------------|
   |---------------------------------------------------------------------------------------------------------|
   |--------------------------------------------------------------------------------------------------------- */
.colorset-white                                 { @include ColorSet($color-white) }
.colorset-default                               { @include ColorSet($color-default) }
.colorset-dark                                  { @include ColorSetInverse($color-dark) }
.colorset-primary                               { @include ColorSetInverse($color-primary) }
.colorset-accent                                { @include ColorSetInverse($color-accent) }
.colorset-info                                  { @include ColorSetInverse($color-info) }
.colorset-success                               { @include ColorSetInverse($color-success) }
.colorset-warning                               { @include ColorSetInverse($color-warning) }
.colorset-error                                 { @include ColorSetInverse($color-error) }


.wi-frame.colorset-default,
.wi-frame.colorset-primary,
.wi-frame.colorset-white,
.wi-frame.colorset-error,
.wi-frame.colorset-success,
.wi-frame.colorset-warning                      { @include ColorSetNone; }

